body {
    overflow: hidden;
}
.main {
    padding-top: 40px;
}

.auth {
    position: relative;
    max-width: 400px;
    margin-top: 30px;
}

.auth .btn {
    position: absolute;
    bottom: 0rem;
    right: calc(var(--bs-gutter-x) * .5);
}

.content {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: aliceblue;
    text-align: center;
}
.content__header {
    margin-bottom: 50px;
}

.hidden {
    display: none;
}

.word {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 60px;
}

.letters {
    justify-self: center;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding-right: 45px;
    padding-left: 45px;
}

.word-item,
.letter {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 30px;
    margin: 5px;
    height: 50px;
    color: #132f63;
    background: linear-gradient(to bottom, transparent 93%, #132f63 7%);
    text-transform: capitalize;
    font-family: Neucha;
    font-weight: 700;
    font-size: 35px;
    transition: all .5;

}

.letter {
    cursor: pointer;
}
.letter.clicked {
    pointer-events: none;
}

.letter:hover {
    opacity: .8;
}

.letter .yes,
.letter .no {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.letter .yes.show,
.letter .no.show {
    display: block;
}
.letter .yes {
    background: url(/yes.svg) center center no-repeat;
    ;
    object-fit: contain;
}

.letter .no {
    background: url(/no.svg) center center no-repeat;
    ;
}


/*ballons*/
.balloon-g {
    position: relative;
    display: flex;
    justify-content: flex-start;

    width: 830px;
    margin: 0 auto;
}

.balloon {
    height: 130px;
    width: 104px;
    border-radius: 80% 80% 80% 80%;
    background-color: red;
    position: relative;
    margin: 0 5px;
}

.balloon:before {
    content: "";
    color: rgba(182, 15, 97, 0.9);
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
}

.balloon-blue {
    background-color: #1c9aee;
}

.balloon-blue:before {
    border-bottom-color: #1c9aee;
}

.balloon-orange {
    background-color: orange;
}

.balloon-orange:before {
    border-bottom-color: orange;
}

.balloon-green {
    background-color: green;
}

.balloon-green:before {
    border-bottom-color: green;
}

.balloon-purple {
    background-color: purple;
}

.balloon-purple:before {
    border-bottom-color: purple;
}

.balloon-mo {
    background-color: #D90BF7;
}

.balloon-mo:before {
    border-bottom-color: #D90BF7;
}

.balloon-gr {
    background-color: #0BF7BC;
}

.balloon-gr:before {
    border-bottom-color: #0BF7BC;
}

.balloon-ref {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 80%;
    border-radius: 90%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.41015625) 0%, rgba(148, 214, 233, 0) 100%);
}

.balloon span.top-c {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 15px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: rotate(48deg);
}

.balloon span.left-c {
    position: absolute;
    top: 36px;
    left: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: rotate(48deg);
}

.animated {
    -webkit-animation: animated 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s reverse both;
    animation: animated 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s reverse both;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-10-15 18:22:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation animated
 * ----------------------------------------
 */
@-webkit-keyframes animated {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes animated {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


/* modal*/

.modal-backdrop.show {
    opacity: .9;
}

.modal.show .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}