body {
    overflow-x: hidden;
}

.main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.auth {
    position: relative;
    max-width: 400px;
    margin-top: 30px;
}

.auth .btn {
    position: absolute;
    bottom: 0rem;
    right: calc(var(--bs-gutter-x) * .5);
}

.content {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 30px;
    background-color: aliceblue;
    text-align: center;
}

.content__header {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

.content__player {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 2rem;
}

.hidden {
    display: none;
}

.word {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 60px;
}

.letters {
    justify-self: center;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding-right: 45px;
    padding-left: 45px;
}

.word-item,
.letter {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 30px;
    margin: 5px;
    height: 50px;
    color: #132f63;
    background: linear-gradient(to bottom, transparent 93%, #132f63 7%);
    text-transform: capitalize;
    font-family: Neucha;
    font-weight: 700;
    font-size: 35px;
    transition: all .5;

}

.letter {
    cursor: pointer;
}

.letter.clicked {
    pointer-events: none;
}

.letter:hover {
    opacity: .8;
}

.letter .yes,
.letter .no {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.letter .yes.show,
.letter .no.show {
    display: block;
}

.letter .yes {
    background: url(/yes.svg) center center no-repeat;
    ;
    object-fit: contain;
}

.letter .no {
    background: url(/no.svg) center center no-repeat;
    ;
}

/* section start*/

.start h2 {
    margin-bottom: 30px;
}

.start .btn-lg {
    padding: 1rem 1rem;
}

/*modal */
.modal-dialog {
    padding: 20px;
}

.modal-content {
    text-align: center;
    background-color: transparent;

}

.modal-header {
    margin-bottom: 30px;
    border-bottom-color: #d76b35;

}

.modal-header h2 {
    font-size: 5rem;
    font-family: Neucha;
    font-weight: 600;
    color: #d76b35;
}

.modal-body .btn {
    color: #d76b35;
}

/* accordion */
.about {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .table td:nth-child(3) {
        text-align: center;
    }

    .table td:nth-child(4) {
        text-align: center;
    }

}


/*ballons*/
.balloon-g {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 830px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .balloon-g {
        max-width: 100%;
        flex-wrap: wrap;
        transform: scale(.8);

    }

}

.balloon {
    height: 130px;
    width: 104px;
    border-radius: 80% 80% 80% 80%;
    background-color: red;
    position: relative;
    margin: 0 5px 25px 5px;
}

.balloon:before {
    content: "";
    color: rgba(182, 15, 97, 0.9);
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
}

.balloon-blue {
    background-color: #1c9aee;
}

.balloon-blue:before {
    border-bottom-color: #1c9aee;
}

.balloon-orange {
    background-color: orange;
}

.balloon-orange:before {
    border-bottom-color: orange;
}

.balloon-green {
    background-color: green;
}

.balloon-green:before {
    border-bottom-color: green;
}

.balloon-purple {
    background-color: purple;
}

.balloon-purple:before {
    border-bottom-color: purple;
}

.balloon-mo {
    background-color: #D90BF7;
}

.balloon-mo:before {
    border-bottom-color: #D90BF7;
}

.balloon-gr {
    background-color: #0BF7BC;
}

.balloon-gr:before {
    border-bottom-color: #0BF7BC;
}

.balloon-ref {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 80%;
    border-radius: 90%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.41015625) 0%, rgba(148, 214, 233, 0) 100%);
}

.balloon span.top-c {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 15px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: rotate(48deg);
}

.balloon span.left-c {
    position: absolute;
    top: 36px;
    left: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: rotate(48deg);
}

/* modal*/

.modal-backdrop.show {
    opacity: .9;
}

.modal.show .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.modal-image {
    max-width: 150px;
}


/*---------------*/
.animated {
    -webkit-animation: animated 0.4s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: animated 0.4s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-26 22:50:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@-webkit-keyframes animated {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}

@keyframes animated {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}